@import url(<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,800&display=swap" rel="stylesheet"> );   


{font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
  width: 100%;  
}
i{
    padding-right: 10px;
}

header{
    margin: 20px 150px;
}


/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game{
    list-style: none;
}
.gamer-img{
    width: 86.041px;
height: 40px;
}
.gamer-g{
    color:#F948B2;
    }

ul{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-right{
    display: flex;
   
    color: #4d24c0;
text-align: center;
font-size: 18px;
font-weight: 500;
      
}

.ul-li{
    margin-right: 30px;
    list-style: none; 
}
.website-name{
    margin-left: 20px;
    color: #0B0223;
font-size: 45px;
font-weight: 700;
}
.btn-icon{
    border: none;
    width: 180px;
height: 56px;border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
#youtube-icon{
    width: 25px;
    height: 18px;
    color:  #F61C0D;
}
#tiktok-icon{
    width: 20px;
    height: 20px;
color:#000000 ;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
align-items: center;
background-color:rgba(255, 66, 165, 0.03);
}
.common-color-1{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.common-color-2{
    color: #534C64;

    font-size: 20px;
   
    font-weight: 500;
}
.goat-color{
    margin-top: 10px;
    margin-bottom: 10px;
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.banner-container-1{
padding-left: 200px;
}
.banner-container-2{
padding-right: 100px;
}
.banner-container-3{
padding-left: 100px;
}
.banner-container-4{
padding-right: 200px;
margin-left: 30px;
}
.photo-1{
    height: 500px;
    width: 400px;
    
}
.photo-2{
    height: 500px;
    width: 650px;
}
.banner-btn-1{
    border: none;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 20px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); ;
}
.banner-btn-2{
    border: none;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 20px;
    background-color: #4EC5F7;
}


.btn-3{
    border: none;
    
    padding: 21px 40px;
    border-radius: 20px;
    gap: 10px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); ;
}
.span-end{
    color: #534C64;
font-size: 32px;
font-weight: 700;
line-height: 45px;
}
.end-1{
    color: #534C64;
text-align: right;
font-size: 24px;
font-weight: 500;
 
}
.banner-2-title{
font-size: 48px;
font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.funny{
    text-align: center;
margin: 20px 300px;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
}
.banner-2{
    display:flex;
     
    justify-content: center;
}
.images-images{
    border-radius: 20px;
    width: 200px;
    height: 300px;
margin-right: 20px;
}
.icon-images {
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 20px;
    width: 200px;
    height: 300px;
margin-right: 20px;
}
.common{
    text-align: center;
    width: 210px;
}
.banner-3{
    display: flex;
    justify-content: center;
    margin-right: 200px;
    margin-left: 200px;
}

.banner-3-title{
font-size: 48px;
font-weight: 700;
    text-align: center;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-3-photo{
    display: flex;
  padding: 50px;
    
}
.photo-66{
height: 200px;
width: 150px;
position: relative;
left: 100px;
top: 350px;
}
    .photo-55{
height: 500px;
width: 400px;
    }

.banner-5{
    margin-top: 50px;
    display: grid ;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin-left: 100px;
}
.banner-5-div{
    display: flex;
    width: 100px;
}
.banner-5-pic{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.banner-5-title{
   
    
    font-size: 20px;
    font-weight: 600; }

.banner-5-div:hover {
    border: 1px solid #F948B2;
    border-radius: 20px;
    width: 200px;
    color: #F948B2;
}

footer{
    margin-top: 100px;
    padding: 100px 200px;
    background: #0B0223;
}

.footer-section-1{
    display: flex;
    justify-content: center;
}


.footer-section-1-title{
    color: #FFF;
font-size: 45px;
font-weight: 700;
margin-left: 20px;
}
.span-g{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer-section-2{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
}
.footer-section-2-container h3{
    color:white;
font-size: 18px;
font-weight: 600;
padding-right: 20px;
}
.footer-section-3{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    padding-right: 20px;
}
.twiter-icon{
    width: 40px;
    height: 40px;
    color: white;
}
.facebook-icon {
    width: 20px;
    height: 20px;
    color: #FFF;
    padding: 10px;
}
.youtube-icon{
    width: 57.13px;
    height: 40px;
    color: #FFFFFF;
}
.linkdin-icon{
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}
.instragram-icon{
    width: 40px;
    height: 40px;
    color: #FFF;
}
.apple-icon{
    width: 40px;
    height: 40px;
    color: #FFF;
}

.footer-section-5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

}
 .scetion-5-container{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
 margin-right: 50px;
font-size: 16px;
 
font-weight: 500;
 }
    





















 @media screen  and (max-width: 576px) {
    nav{
        flex-direction: column;
        margin: 10px 50px;
    } 
    .banner{
        grid-template-columns:  repeat(1, 1fr);
    }
    .banner-container-1{
        padding-left: 50px;
    }
    .banner-container-3{
        padding-left: 40px;
    }

    .funny{
        margin: 10px 50px;
    }
    .banner-2{
        flex-direction: column;
    padding-left: 75px;
    }
    .banner-3{
        flex-direction: column;
        margin-left: 25px;
   margin-right: 25px;
    }
    .banner-3-photo{
        
       padding: 10px; 
    }
    
    .banner-5{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-section-2{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-section-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-section-5{
        grid-template-columns: repeat(2, 1fr);
    }


    }












@media screen and(min-width:576px) and (max-width:992px)  {
    
    nav{
        flex-direction: column;
    }
.banner{
    grid-template-columns: repeat(2, 1fr);
   
}



}

